<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQL94Dialect
        </property>
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:postgresql://localhost/scraper
        </property>
        <property name="hibernate.connection.username">
            postgres
        </property>
        <property name="hibernate.connection.password">
            root
        </property>

        <property name="show_sql">false</property>

        <!-- List of XML mapping files -->
        <mapping class="org.scraper.main.data.Site"/>
        <mapping class="org.scraper.main.data.Domain"/>
    </session-factory>
</hibernate-configuration>